<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033469084474-8550728r42vb01pckv2np4l62bb61vec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033469084474-8550728r42vb01pckv2np4l62bb61vec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1033469084474-6jlphiu259q9rj1bi4mt773bmgokhi4b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKwHwWdgmwM3-Z150rWdalbc4XhvcjZI</string>
	<key>GCM_SENDER_ID</key>
	<string>1033469084474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruchaseManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>compras-3e47f</string>
	<key>STORAGE_BUCKET</key>
	<string>compras-3e47f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033469084474:ios:10731cbba1af91e064c603</string>
</dict>
</plist>